/* COLOR CODES
Pink: #FFC7F4
Light pink: #FF8AE8
Gray: #80637A
Purplish pink: #803D72
Light gray: #CC9FC3
*/

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
}

.header a {
    text-decoration: none;
    color:  #303030;
}

/* .top-section {
    background-image: linear-gradient(180deg, rgba(255, 138, 232, 1), rgba(255, 138, 232, 0.25),rgba(255, 138, 232, 0.1), white);
} */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16vw 6rem;
    background-image: linear-gradient(180deg, rgba(255, 138, 232, .5), white);
}

.header > img {
    width: 250px;
    height: auto;
}

.header nav ul {
    display: flex;
    gap: 1.4rem;
} 

.hero {
    display: flex; 
    flex-flow: column wrap;
    padding: 0 16vw;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 1rem;
}

.hero h1 {
    font-size: 36px;
    font-weight: 900;
    /* margin: 2rem 4rem; */
}
.hero p {
    font-size: 18px;
    color: #303030;
    max-width: 1100px;
}

.cta-button {
    padding: 1em 3em;
    background-color: #FF75EA;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 2px #F8FCF6;
}

.cta-button:hover {
    background-color: white;
    color: #FF75EA;
    border: 2px solid #FF75EA;    
}

.hero img {
    width: 100%;
    max-height: auto;
    margin-top: 4rem;
}

.section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 6rem 14vw;
    /* gap: 1rem; */
}

.section h2 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 4rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    gap: 2rem;
}

.item {
    display: flex;
    flex-flow: column nowrap;
    /* align-items: center; */
    gap: 1rem;
    margin-bottom: 1rem;
}

.container .item img {
    /* margin: 0;
    padding: 0; */
    width: 200px;
    height: auto;
    border: 2px solid #FF75EA;
    box-shadow: 4px 6px 4px #F8FCF6;
    border-radius: 10%;
}

.container p {
    max-width: 200px;
    font-size: 16px;
}

.quote-block p,
.container p {
    line-height: 1.25rem;
    color: #303030;
}

.quote-block p {
    font-size: larger;
    line-height: 2rem;
}

.section.quote-block {
    /* background-color: rgba(233, 112, 207, .25); */
    background-image: linear-gradient(140deg, rgba(233, 112, 207, .25), rgba(233, 112, 207, 0));
    padding-left: 20vw;
    padding-right: 20vw;
}

.quote-block h4 {
    margin-left: auto;
}

.section.cta {
    flex-direction: row;
    justify-content: center;
}
.cta-block {
    background: #FF75EA;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2.5em 4.8em;
    margin: 2em 0;
    flex: 0 1 1000px;
    border-radius: 10px;
}

.column {
    display: flex;
    flex-flow: column wrap;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background:rgba(30, 23, 28, 0.3);
    color: white;
}