/* COLOR CODES
Pink: #FFC7F4
Light pink: #FF8AE8
Gray: #80637A
Purplish pink: #803D72
Light gray: #CC9FC3
*/

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4 {
    font-family: "freude", sans-serif;
    letter-spacing: 1px;
}

header a {
    text-decoration: none;
    color:  #303030;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16vw 6rem;
    background-image: linear-gradient(180deg, rgba(255, 138, 232, .3), white);
}

header > img {
    width: 250px;
    height: auto;
}

header nav ul {
    display: flex;
    gap: 1.5rem;
} 

.hero {
    display: flex; 
    flex-flow: column wrap;
    padding: 2rem 16vw 18rem;;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 1rem;
    background-image: url(./assets/mushroom-graphic-line.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 900px;
}

.hero h1 {
    font-size: 36px;
    font-weight: 900;
}

.pink {
    color:#FF7AE4;
}

.hero p {
    font-size: 18px;
    color: #303030;
    max-width: 1100px;
}

.cta-button {
    padding: 1em 3em;
    background-color: #FF75EA;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 2px #F8FCF6;
}

.cta-button:hover {
    background-color: white;
    color: #FF75EA;
    border: 2px solid #FF75EA;    
}

.section.popular-spores {
     background-image: repeating-conic-gradient(rgba(255, 138, 232, .08) 3%, rgba(255, 138, 232, 0) 6%);  
     background-position: bottom, center;
     background-repeat: no-repeat, repeat;
     
}

.section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 6rem 14vw;
}

.section h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 4rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
}

.item {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.container .item img {
    width: 200px;
    height: auto;
    border: 2px solid #FF75EA;
    border-radius: 10%;
}

.container p {
    max-width: 200px;
    font-size: 16px;
}

.quote-block p,
.container p {
    line-height: 1.25rem;
    color: #303030;
}

.quote-block p {
    font-size: larger;
    line-height: 2rem;
}

.section.quote-block {
    background-color: white;
    background-image: linear-gradient(to left,  rgba(255, 138, 232, .5), rgba(255, 255, 255, .95) 18%), url(./assets/forest.jpg);
    padding-left: 20vw;
    padding-right: 20vw;
}

.capitalize-first-letter {
    font-size: 32px;
    font-weight: 500;
}

.quote-author {
    margin-left: auto;
}

.section.cta {
    flex-direction: row;
    justify-content: center;
}

.cta-block {
    background: #FF75EA;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2.5em 4.8em;
    margin: 2em 0;
    flex: 0 1 1000px;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background:#303030;
    color: white;
    position: bottom;
}